:root {
	--color-soft-blue: hsl(215, 51%, 70%);
	--color-cyan: hsl(178, 100%, 50%);
	--color-cyan-light: hsla(178, 100%, 50%, 0.5);

	--color-dark-blue-1: hsl(217, 54%, 11%);
	--color-dark-blue-2: hsl(216, 50%, 16%);
	--color-dark-blue-3: hsl(215, 32%, 27%);
	--color-white: hsl(0, 0%, 100%);

	--font-weight-300: 300;
	--font-weight-400: 400;
	--font-weight-600: 600;
}

body {
	position: relative;
	display: flex;
	background-color: var(--color-dark-blue-1);
	-webkit-font-smoothing: antialiased;
	font-size: 1em;
	font-weight: var(--font-weight-400);
	color: var(--color-soft-blue);
	line-height: 1.4375;
}

a {
	color: inherit;
	text-decoration: none;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	border: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: inherit;
	font-weight: var(--font-weight-600);
	color: var(--color-soft-blue);
	line-height: 1.2727;
}

h2 {
	font-size: 1.375em;
}

h3 {
	font-size: 1.25em;
}

h4 {
	font-size: 1em;
}

h5 {
	font-size: 0.9em;
}

h6 {
	font-size: 0.8em;
}

p {
	font-size: 1.125em;
	font-weight: var(--font-weight-300);
}

strong {
	font-weight: var(--font-weight-600);
}

.btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	background-color: transparent;
	border: 1px solid transparent;
	color: inherit;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	transition: all 0.15s ease-in-out;
}

.btn--link {
	color: var(--color-white);
}

.btn--link:hover {
	color: var(--color-cyan);
}

[class^='icon-'] {
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.icon-ethereum {
	width: 0.68em;
	height: 1.125em;
	background-image: url('/images/icons/ethereum.svg');
}

.icon-clock {
	width: 1em;
	height: 1em;
	background-image: url('/images/icons/clock.svg');
}

.container {
	padding: 0 1.5em;
}

/* Main */
main,
main > .container {
	display: flex;
	flex: auto;
}

main > .container {
	justify-content: center;
	align-items: center;
}

.card,
.card__image,
.card__content {
	display: flex;
	flex-direction: column;
}

.card__stats-list,
.card__stats-list-item,
.card__author {
	display: flex;
	align-items: center;
}

.card {
	width: 100%;
	max-width: 21.875em;
	padding: 1.5em;
	background-color: var(--color-dark-blue-2);
	margin: 1.875em 0 3.75em;
	border-radius: 15px;
	box-shadow: 0 25px 50px rgba(0, 0, 0, 0.1);
}

.card__image {
	position: relative;
	background-color: var(--color-soft-blue);
	margin-bottom: 1.5em;
	border-radius: 8px;
	cursor: pointer;
}

.card__image::before {
	content: '';
	position: absolute;
	inset: 0;
	background-color: var(--color-cyan-light);
	background-image: url('/images/icons/view.svg');
	background-repeat: no-repeat;
	background-position: center;
	border-radius: inherit;
	opacity: 0;
	transition: opacity 0.3s;
}

.card__image:hover::before {
	opacity: 1;
}

.card__image img {
	width: 100%;
	height: auto;
	border-radius: inherit;
}

.card__title {
	margin-bottom: 0.54em;
}

.card__desc {
	margin-bottom: 0.89em;
}

.card__stats-list-item {
	gap: 0.48em;
	width: 50%;
	font-size: 0.93em;
}

.card__stats-list-item:first-child {
	font-weight: var(--font-weight-600);
	color: var(--color-cyan);
}

.card__stats-list-item:last-child {
	justify-content: flex-end;
}

.card__stats-list-item i {
	flex: none;
}

.card__author {
	gap: 1em;
	padding-top: 1em;
	margin-top: 1em;
	border-top: 1px solid var(--color-dark-blue-3);
}

.card__author-img {
	flex: none;
	width: 2.06em;
	height: auto;
	border: 1px solid var(--color-white);
	border-radius: 50%;
}

.card__author-desc {
	font-size: 0.93em;
}

@media (min-width: 48em) {
	.card__title {
		margin-bottom: 0.72em;
	}

	.card__desc {
		margin-bottom: 1.33em;
	}

	.card__stats-list-item,
	.card__author-desc {
		font-size: 1em;
	}

	.card__author {
		margin-top: 1.5em;
	}
}
